.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination .active {
    font-weight: bold;
    border-radius: 15px;
    background-color: #084485;
    color: white;
    border: 1px solid #084485;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}